services:
  web:
    build:
      context: ${CONTEXTO}
      dockerfile: ./dockerfiles/nginx/nginx
    container_name: ${NOMBRE}
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    ports:
      - "${PORT_HTTP}:80"
    env_file:
      - ./.env
    image: jiahaolin69/nginx
    volumes:
      - ./logs:/root/logs
    networks:
      netmegacrossovernginx:
        ipv4_address: ${IP}
networks:
  netmegacrossovernginx:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET}
