.text-center {
    text-align: center;
}

.card-container h2 {
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #ddd;
    display: inline-block;
}