.gallery-carousel-container {
    max-width: 900px; 
    margin: 0 auto;   
    border: 1px solid #ddd;
}

.carousel-image {
    height: 550px;      
    object-fit: cover;       
    object-position: center; 
}


.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 1rem;
}

#galeria h2 {
    color: #333;
    font-weight: 400;
    margin-top: 2rem;
}